<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golang</title>
</head>
<body>
   {{$nam := .Name}}{{$identity := .ID}}
   <li>{{$nam}} - {{$identity}}</li>
</body>
</html>